body {
	background-color: #e7e7e7;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
}

	#top--logo span:nth-of-type(1) {
		font-size: 50px;
		color: black;
		padding-left: 30px;
		padding-bottom: 30px;
	}
	
	#top--logo span:nth-of-type(2) {
		color: grey;
		margin-left: 115px;
	}
#top--menu {
	background-image: url("images/menu_background.png");
	margin-left: 420px;
	height: 70px;	
}

	#top--menu a {
		text-transform: uppercase;
		color: black;
		text-decoration: none;
		border-bottom: 4px solid grey;
		border-right: 1px solid white;
		font-size: 20px;
		margin-left: -5px;
		padding: 2px 20px 2px;
		line-height: 30px;
		transition: all 0.4s ease;
	}
	
		#top--menu a.active {
			color: #3c3c3c;
			background-color: #f5f5f5;			
		}
		
		#top--menu a:hover {
			color: black;
			background-color: white;
			border-bottom: 4px solid black;
		}
		
	
		#top--menu a:first-of-type {
			border-left: 1px solid white;
		}

#link {
	display: inline-block;
	margin: 20px 40% 10px;
	padding: 15px;
	text-align: center;
	font-size: 13px;
}	
	#link a {
		opacity: 0.5;
		transition: all 0.4s ease;
	}
		
			#link a:hover {
				opacity: 1;
			}
		
	#slider {
		background-image: url('images/obraz1.jpeg');
		text-align: center;	
	}	

		.container .container--bigger {
			width: 800px;
		}
		
		.container .container--bigger p{
			column-count: 2;
			column-gap: 30px;
			text-align: left;
		}
	
		.container .container--smaller p{
			width: 200px;
			text-align: left;
		}
	
	.dropdown {
		position: relative;
		display:inline-block;
		margin: 5%;	
		opacity: 0.8;
		filter: alpha(opacity=50);	
	}
	
	.dropdown img {
		border-radius:50%;
	}
	
	.dropdown--content {
		display: none;
		position: absolute;
		border-radius: 5px;
		background-color: #f2f2f2;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px grey);
		padding: 12px 16px;
		z-index: 1;
	}
	
	.dropdown:hover .dropdown--content {
		display: block;
	}
	
	input[type=text], select, textarea {
		width: 100%;
		padding: 12px;  
		border: 1px solid #ccc;
		border-radius: 5px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical
	}

	input[type=button__container] {
		background-color: #888686;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
}

	input[type=button__container]:hover {
		background-color: #b0afaf;
	}

	.band {
		text-align: center;
	}
	
	.container {
		margin: 20px;
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 20px;
	}
	
	.container img {
		float: right;
	}

.records {
	margin: 30px;
}

	.records h3 {
		margin: 40px;
	}
	
	.records audio {
		float: right;
		margin-right: 20%;
	}
		
	.records li{
			margin: 30px;
	
	}